@using BikeRental.Models
@model List<Tour>

<table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top" class="box">
                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" class="blue_top">
                                <table width="380" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="33" align="center" style="padding-top:12px;">
                                                <table width="18" border="0" align="center" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding-bottom:4px;"><img width="18" height="9" alt="up" src="http://itechnoweb.com/bikerental/assets/images/front/arrow_up.png"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"><img width="18" height="9" alt="down" src="http://itechnoweb.com/bikerental/assets/images/front/arrow_down.png"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="295" valign="top" class="banner_whtext">view our rental bike selection</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="125px" valign="top" class="yellow_top">
                                <table width="120" border="0" align="center" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="banner_whtext_1">
                                                online<br>
                                                special
                                            </td>
                                            <td valign="top" class="banner_bluetext">20%<br><span class="banner_bluetext_1">OFF</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" align="center"><img width="510" height="47" alt="selection" src="http://itechnoweb.com/bikerental/assets/images/front/selection_header.png"></td>
                        </tr>
                        <tr>
                            <td valign="top" align="center">

                                <a border="0" href="bikerental/reserveBike/2">
                                    <img width="510" height="236" alt="selection_pics" src="http://itechnoweb.com/bikerental/assets/images/front/selection_pics.png">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>