@using BikeRental.Models
@using System.Collections
@{
    ViewBag.Title = "Cart";
}
@section Head {
    <div align="left" style="padding:10px">
        <h1 style="background-color:#1190de; -webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px; font-family:Arial; border:1px solid #054388;  font-weight:bold; color:#fff; text-shadow:#333333 1px 1px 3px; padding:6px 12px 6px 12px">Your payment was successful!<br><div style="color:#000000; font-size:14px; padding-top:10px;text-shadow:none;">You will receive an email shortly from our end.</div></h1>
    </div>
}

@section RightTop{
}

@section Left{
    @Html.Partial("_Left")
}

@section scripts{
}