<table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" align="center">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="background-color:#00438a; padding:8px 0px 8px 10px; text-align:left; text-transform:uppercase; color:#FFFFFF; font-size:12px">
                                                <strong>Cancellation Policy          </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"><img width="250px" src="http://itechnoweb.com/bikerental/./assets/images/projectimages/pages/resized/canceltour_medium.jpg"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;  font-size:12px; text-align:justify">
                                                <p><font size="3" face="Calibri">If a scheduled bicycle tour/rental is canceled due to bad weather conditions such as heavy rain or snow fall, the customers may choose to get a full credit (for another day) or full refund. In all other cases of cancellation, a full credit (for another day) will be available if the customers notify us about the cancellation via email at least 48 hours prior to the scheduled tour/rental. </font></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>