<table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">&nbsp;</td>
        </tr>

        <tr>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="background-color:#00438a; padding:8px 0px 8px 10px; text-align:left; text-transform:uppercase; color:#FFFFFF; font-size:12px" colspan="2">
                                <strong>Central Park Bike Tours           </strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding:10px;  font-size:12px; text-align:justify">
                                <p><img width="249" style="padding:10px; float:right" src="http://itechnoweb.com/bikerental/./assets/images/projectimages/pages/resized/karlstejn-castle-bike_large.jpg"></p><h1 class="style1">Central Park Bike Tours</h1>

                                <p>
                                    <br>
                                    <i>A perfect blend of movie scenes, classic architecture, historical attractions, celebrity sightings, and much more. </i>
                                </p>

                                <p>Take a bicycle tour of the world's most famous urban park and experience New York in a completely unique, fun, and exhilarating way. On our guided bike tours you will help you see Central Park like you never could on foot. We'll take you to see everything from the incredible Olmsted designed waterfall, pool and loch to the famous Metropolitan Museum of Art. We make it easy to get your bike and get the most from your time in the Park.</p>
                                <p></p>
                            </td>
                            <td valign="top"></td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>

    </tbody>
</table>