<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="background-color:#00438a; padding:8px 0px 8px 10px; text-align:left; text-transform:uppercase; color:#FFFFFF; font-size:12px">
                <strong>NYC Tours           </strong>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding:10px;  font-size:12px; text-align:justify">
                <p></p><p>rna felis, ornare sed bibendum ut, rutrum id elit. Duis commodo, justo sed aliquam vulputate, nisl massa feugiat lorem, in congue nibh augue eget massa. Donec imperdiet, justo vitae dapibus vestibulum, velit nisi mattis metus, eu rutrum est justo ac dolor. Curabitur rhoncus magna eu nisi varius dictum. Pellentesque adipiscing, est ac molestie feugiat, velit nulla bibendum purus, aliquet pulvina</p>
                <p></p>
            </td>
        </tr>

    </tbody>
</table>