<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="background-color:#00438a; padding:8px 0px 8px 10px; text-align:left; text-transform:uppercase; color:#FFFFFF; font-size:12px">
                <strong>About Us          </strong>
            </td>
        </tr>
        <tr>
            <td align="center"><img width="250px" src="http://itechnoweb.com/bikerental/./assets/images/projectimages/pages/resized/bikerental_logo_medium.png"></td>
        </tr>
        <tr>
            <td style="padding:10px;  font-size:12px; text-align:justify">
                <p>About Us</p>

                <p 10pt"="" 0in=""><font size="3" face="Calibri">Bike Rental Central Park is the largest and most reliable bicycle rental and tour company in New York City. We are conveniently located 2 blocks away from Central Park close to all public transportation. Every year our fleet of 200 bicycles serves thousands of customers from all over the world. Here at Bike Rental Central Park we know how to make things easier for you. If you are an adventurous type you can rent a bike and explore Central Park and the city alone, or save days of endless wandering by booking our Central Park guided tour. </font></p>

                <p 10pt"="" 0in=""><font size="3" face="Calibri">Our store is conveniently located at 348 W 57 ST New York NY 10019, on the south side of the street, close to 9th ave, in the Park Vendome Building.</font></p>

                <p 10pt"="" 0in=""><font size="3" face="Calibri">For more information call 212-664-9600 or 646-853-0403.</font></p>
            </td>
        </tr>

    </tbody>
</table>