<table width="100%" border="0" bgcolor="#fadb29" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="middle" align="center" style="padding:5px; text-align:center; color:#004288; font-family:Arial, Helvetica, sans-serif; font-weight:bold">BOOK THIS PACKAGE AND GET UPTO <div style="color:#FF0000">50% ON REGULAR PRICE</div></td>
                            <td>

                                <a href="http://itechnoweb.com/bikerental/home/showFormAddToCart">
                                    <input type="button" class="reservenow" value="" name="">
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>


            <td style=" padding-left:0px;">
                <table width="249" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="rightpanel">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="52%" valign="middle" style="color:#FFFFFF; padding-left:10px; font-family:Arial; font-weight:bold; font-size:13px; vertical-align:middle">
                                                Harlem Bike Tour
                                            </td>
                                            <td width="36%" valign="middle" style="color:#FFFFFF; padding-left:10px; font-family:Arial; font-size:10px; vertical-align:middle">
                                                online<br>
                                                special
                                            </td>
                                            <td width="12%" valign="middle" align="right" style="color:#FFFFFF; font-family:Arial; font-size:28px; vertical-align:middle; padding-right:7px">$48</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="background-image: url('http://itechnoweb.com/bikerental/./assets/images/projectimages/tours/resized/madrid-bike-tour-photo_986123-770tall_large.jpg');
                background-repeat: no-repeat; background-position: center; " class="tour_pic">

                                <table width="200" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="tour_base">
                                                <table width="60" border="0" align="left" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="tour_text_blue">
                                                                regular<br>price<br>
                                                                <span style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px" class="tour_text_blue_1">$65</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--<td>
                                  <img src="http://itechnoweb.com/bikerental/./assets/images/projectimages/tours/resized/madrid-bike-tour-photo_986123-770tall_large.jpg">-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>


            <td style=" padding-left:12px ">
                <table width="249" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="rightpanel">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="52%" valign="middle" style="color:#FFFFFF; padding-left:10px; font-family:Arial; font-weight:bold; font-size:13px; vertical-align:middle">
                                                Brooklyn Bike Tour
                                            </td>
                                            <td width="36%" valign="middle" style="color:#FFFFFF; padding-left:10px; font-family:Arial; font-size:10px; vertical-align:middle">
                                                online<br>
                                                special
                                            </td>
                                            <td width="12%" valign="middle" align="right" style="color:#FFFFFF; font-family:Arial; font-size:28px; vertical-align:middle; padding-right:7px">$48</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" style="background-image: url('http://itechnoweb.com/bikerental/./assets/images/projectimages/tours/resized/11240-1_large.jpg');
                background-repeat: no-repeat; background-position: center; " class="tour_pic">

                                <table width="200" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="tour_base">
                                                <table width="60" border="0" align="left" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="tour_text_blue">
                                                                regular<br>price<br>
                                                                <span style=" text-decoration:none; background-image:url(http://itechnoweb.com/bikerental/assets/images/front/linethru.png); background-repeat:no-repeat; background-position:center; vertical-align:middle; padding:0px" class="tour_text_blue_1">$65</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--<td>
                                  <img src="http://itechnoweb.com/bikerental/./assets/images/projectimages/tours/resized/11240-1_large.jpg">-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>