<table width="520px" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;">
    <tbody>


        <tr>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="background-color:#00438a; padding:8px 0px 8px 10px; text-align:left; text-transform:uppercase; color:#FFFFFF; font-size:12px" colspan="2">
                                <strong>Find Us           </strong>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding:10px;  font-size:12px; text-align:justify">
                                <p></p><p>aucibus orci luctus et ultrices posuere cubilia Curae; Sed vehicula rutrum interdum. Quisque rutrum libero et libero blandit tincidunt. Integer quis sapien a odio adipiscing aliquam eget sit amet nunc. In eu dui turpis. Morbi ultrices, neque et cursus ornare, augue purus suscipit velit, ut.</p>
                                <p></p>
                            </td>
                            <td valign="top"><img width="249" height="238" src="http://itechnoweb.com/bikerental/./assets/images/projectimages/pages/resized/find-us_map1_large.png"></td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>


        <tr>
            <td width="520" valign="top">
                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="deepblue_box">
                                                <table width="320" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="banner_whtext_exp">contact us</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table width="510" border="0" align="center" cellspacing="0" cellpadding="0">

                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:20px;">

                                                <form onsubmit="return tt1();" id="contactus" name="contactus" accept-charset="utf-8" method="post" action="@Url.Action("SendMail")">
                                                    <table width="490" border="0" align="center" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" align="center">
                                                                    <table width="200" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <input type="text" onblur="if(this.value == '') { this.value = 'Your Name *'; } " onfocus="if(this.value  == 'Your Name *'){ this.value = ''; } " value="Your Name *" id="requesterName" class="input" name="Name">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <input type="text" onblur="if(this.value == '') { this.value = 'Email *'; } " onfocus="if(this.value  == 'Email *'){ this.value = ''; } " value="Email *" id="requesterEmail" class="input" name="Email">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <input type="text" onblur="if(this.value == '') { this.value = 'Message Subject *'; } " onfocus="if(this.value  == 'Message Subject *'){ this.value = ''; } " value="Message Subject *" id="requesterSubject" class="input" name="Subject">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" class="label">
                                                                                    email:info@bikerentalcentralpark.com
                                                                                    <br>
                                                                                    tel: 1-212-664-9600 0r
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td valign="top" align="center">
                                                                    <table width="200" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <textarea onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" class="textarea" rows="6" cols="45" id="requestMessage" name="Message">Message *</textarea>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" align="right">
                                                                                    <input type="submit" class="submitbutton" title="Submit" value="" name="submitContactUs">

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </td>
        </tr>

    </tbody>
</table>