<table width="520px" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;">
    <tbody>
        <tr>
            <td width="520" valign="top"><img src="http://itechnoweb.com/bikerental/assets/images/front/brcp_find-us.png"></td>
        </tr>
    </tbody>
</table>