@using BikeRental.Models
@using BikerRental.Web.Helpers;
@using System.Linq
@using System.Data.Entity;
@using BikeRental.Data;

    <table cellspacing="0" cellpadding="6" border="0" style="width:100%; border:1px solid #CCCCCC">

        <tbody>
            <tr style="background-color:#0086d7; color:#FFFFFF">

                <th width="31%" style="padding-left:10px; text-align:left;">Item </th>
                <th width="11%">Quantity</th>
                <th width="13%" style="text-align:right">Unit Price</th>
                <th width="12%" style="text-align:right">Sub-Total</th>
                <th width="11%" align="right">Operation</th>
            </tr>
            @{
                List<ReservedBicycle> reservedBikes = CartHelper.GetReservedBikes();
                List<ReservedBikeTour> reservedBikeTours = CartHelper.GetReservedBikeTours();
                List<ReservedBusTour> reservedBusTours = CartHelper.GetReservetBusTours();
                
                foreach (ReservedBicycle bike in reservedBikes)
                {
                    @Html.Partial("_CartBikes", bike);
                }

                foreach (ReservedBikeTour bikeTour in CartHelper.UserCart.ReservedBikeTours)
                {
                    @Html.Partial("_CartBikesTours", bikeTour);
                }

                foreach (ReservedBusTour busTour in CartHelper.UserCart.ReservedBusTours)
                {
                    @Html.Partial("_CartBusTours", busTour);
                }
            }


            <tr style="background-color:#CCCCCC">
                <td colspan="2"></td>
                <td align="right"><strong>Total</strong></td>
                <td align="right">$@CartHelper.GetTotal()</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    @if (CartHelper.GetTotal() > 0) { 
    <p align="right" class="cartbut">
        <input type="submit" value="Update your Cart" name=""> &nbsp;
        <input type="button" style="background-color:#990000" onclick="removeitem('all','all item')" value="Remove All" name="rmitem">&nbsp;
        <input type="button" style="background-color:#006600" value="Continue" class="reviewCart">
    </p>
    }