<table border="0" cellspacing="0" cellpadding="6" style="width:100%;color:#000">
    <tbody>
        <tr>
            <td valign="middle" align="center" colspan="4"><h3>Please review your cart before proceeding to the payment process</h3></td>
        </tr>
    </tbody>
</table>