@using BikeRental.Models
@using BikerRental.Web.Helpers;
@using System.Linq
@using System.Data.Entity;
@using BikeRental.Data;

    <table cellspacing="0" cellpadding="6" border="0" style="width:100%; border:1px solid #CCCCCC; margin-left:5px;">

        <tbody>
            <tr style="background-color:#0086d7; color:#FFFFFF">

                <th width="31%" style="padding-left:10px; text-align:left;">Item </th>
                <th width="11%">Quantity</th>
                <!-- <th width="11%">TotalQTY</th> -->
                <th width="13%" style="text-align:right">Unit Price</th>
                <th width="12%" style="text-align:right">Sub-Total</th>
                <th width="11%" align="right">Operation</th>
            </tr>
            @{
                foreach (ReservedBicycle bike in CartHelper.UserCart.ReservedBicycles)
                {
                    @Html.Partial("_CartBikesReview", bike);
                }

                foreach (ReservedBikeTour bikeTour in CartHelper.UserCart.ReservedBikeTours)
                {
                    @Html.Partial("_CartBikesToursReview", bikeTour);
                }

                foreach (ReservedBusTour busTour in CartHelper.UserCart.ReservedBusTours)
                {
                    @Html.Partial("_CartBusToursReview", busTour);
                }
            }


            <tr style="background-color:#CCCCCC">
                <td colspan="2"></td>
                <td align="right"><strong>Total</strong></td>
                <td align="right">$@CartHelper.GetTotal()</td>
                <td></td>
            </tr>
        </tbody>
    </table>