@using BikeRental.Models
@using BikerRental.Web.Helpers;
@using System.Linq
@using System.Data.Entity;
@using BikeRental.Data;

    <table cellspacing="0" cellpadding="6" border="0" style="width:100%; border:1px solid #CCCCCC; margin-left:5px;">

        <tbody>
            <tr style="background-color:#0086d7; color:#FFFFFF">

                <th width="31%" style="padding-left:10px; text-align:left;">Item </th>
                <th width="11%">Quantity</th>
                <!-- <th width="11%">TotalQTY</th> -->
                <th width="13%" style="text-align:right">Unit Price</th>
                <th width="12%" style="text-align:right">Sub-Total</th>
                <th width="11%" align="right">Operation</th>
            </tr>
            @{
                decimal total = 0;
                foreach (ReservedBicycle bike in (ViewBag.reservedBikes as List<ReservedBicycle>))
                {
                    @Html.Partial("_CartBikesReview", bike);
                    total += bike.Quantity * bike.Price;
                }

                foreach (ReservedBikeTour bikeTour in (ViewBag.reservedBikeTours as List<ReservedBikeTour>))
                {
                    @Html.Partial("_CartBikesToursReview", bikeTour);
                    total += bikeTour.Price;
                }

                foreach (ReservedBusTour busTour in (ViewBag.reservedBusTours as List<ReservedBusTour>))
                {
                    @Html.Partial("_CartBusToursReview", busTour);
                    total += busTour.Price * busTour.Adults;
                    total += busTour.Price * busTour.Kids;
                }
            }


            <tr style="background-color:#CCCCCC">
                <td colspan="2"></td>
                <td align="right"><strong>Total</strong></td>
                <td align="right">$@total</td>
                <td></td>
            </tr>
        </tbody>
    </table>