@charset "utf-8";
/* CSS Document */

body{
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#000000;
margin:0 auto;
}
.bluetext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#054388;
	text-align:center
	}
.topbg{
background:url(../images/front/topbg.png) repeat-x bottom;
height:99px
}
.topmenu{
background:url(../images/front/bluemenu.png) repeat-x ;
height:35px;}

	.logocover{position:relative}
	.logo{
	position:absolute; 
	top:0px; 
	left:30px; 
	}
	.toptext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 23px;
	color:#054388;
	text-align:center
	}
	.toptext span{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color:#054388;
	text-align:center
	}
.leftbg{
background:url(../images/front/leftbg.png) repeat-y}
.leftbg2{
background:url(../images/front/leftbottom.png) repeat-x top #c2e8ff; height:292px}
.round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#FFFFFF; 
	border:1px solid #FFFFFF; 
	width:186px; 
	font-family:Arial; 
	font-size:12px; 
	color:#054388; 
	padding:4px; 
	padding-left:10px
	}
	.reservenow{background-image:url(../images/front/reservenow.png); background-repeat:no-repeat; width:185px; height:34px; cursor:pointer; border:0px solid #FFFFFF}
.submitbutton{background-image:url(../images/front/submit_bttn.png); background-repeat:no-repeat; width:78px; height:24px; cursor:pointer; border:0px solid #FFFFFF}

.righttext{font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	background-color:#f8db40; 
	padding:10px; 
	text-align:center; 
	color:#054388}
.righttext span{color:#ff0000}

.rightpanel{ background:url(../images/front/bannertop.png) no-repeat; width:249px; height:50px}

.footerbg{ background:url(../images/front/footerbg.png) repeat-x; height:111px; }
	.footertext{font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color:#054388}
	.footertext a{font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color:#054388;
		text-decoration:none}
	.footertext a:hover{font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color:#009900;
		text-decoration:none}
/************ new part ****************/

.blue_top{
	background:url(../images/front/top_bar.png) top center repeat-x;
	height:50px;
}

.yellow_top{
	background:url(../images/front/banner_side.png) top center no-repeat;
	height:50px;
	width:125px;
}

.box{
-moz-box-shadow: -1px  1px  6px  #c1c1c1;
-webkit-box-shadow: -1px  1px  6px  #c1c1c1;
box-shadow: -1px  1px  6px  #c1c1c1;
}

.banner_whtext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	text-transform:uppercase;
	font-size:13px;
	padding:18px 0px 0px 0px;
}


.banner_whtext_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	padding:9px 0px 0px 0px;
}



.banner_bluetext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-shadow:2px 2px 1px #ffffff;	
	text-align:center;
	text-transform:uppercase;
	font-size:25px;
	line-height:20px;
	padding:8px 0px 0px 12px;
}


.banner_bluetext_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-shadow:2px 2px 1px #ffffff;	
	text-align:center;
	text-transform:uppercase;
	font-size:15px;
}


.blue_box{
background-color:#d0ebfc;
}


.wh_box{
	background-color:#ffffff;
}


.yellow_box{
background-color:#fadd2a;
}

.deepblue_box{
background-color:#00438a;
}



.bluetext_time{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:14px;
	line-height:50px;
}


.bluetext_off{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:14px;
	line-height:50px;
}



.whitetext_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	font-size:13px;
	padding:10px 15px;
}


/*price box*/

.pricebox_top{
background:url(../images/front/price_box_top.png) top center no-repeat;
height:32px;
width:149px;
}

.pricebox_mid{
background:url(../images/front/price_box_mid.png) top center no-repeat;
height:32px;
width:149px;
}

.pricebox_bar{
background:url(../images/front/price_box_bar.png) top center repeat-y;
width:149px;
}

.pricebox_yellow_bar{
background:url(../images/front/price_box_yellow_bar.png) top center repeat-y;
width:149px;
}


.bluetext_price{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:15px;
	text-transform:uppercase;
	padding:10px 0px 0px 0px;
}

.redtext_price{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#f31e10;
	text-align:center;
	font-size:15px;
	text-transform:uppercase;
}


.bluetext_price_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:12px;
	padding:10px 0px 10px 0px;
}


.whtext_price_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	padding:7px 0px 0px 0px;
}

.bltext_price_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	padding:3px 0px 0px 0px;
	line-height:13px;
}



.whtext_price_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:15px;
	line-height:30px;
	padding:7px 0px 0px 0px;
}


.whtext_price_3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:15px;
	line-height:30px;
	text-decoration:line-through;
	padding:7px 0px 0px 0px;
}

.bltext_price_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#f31e10;
	text-align:center;
	font-size:15px;
	padding:7px 0px 0px 0px;
	line-height:30px;
}

/*price box*/





/*bike tours*/


.whtext_tour{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	font-size:10px;
	text-transform:uppercase;
	padding:7px 0px 7px 3px;
}


.yellowtext_tour{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#fbdc2a;
	text-align:right;
	font-size:10px;
	text-transform:uppercase;
	padding:7px 3px 7px 0px;
}

.yellowtext_tour_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#fbdc2a;
	text-align:right;
	font-size:22px;
	text-transform:uppercase;
}


.whtext_tour_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	font-size:8px;
	padding:3px 2px;
}

.whtext_tour_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	font-size:15px;
	text-decoration:line-through;
}



.banner_bluetext_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-shadow:2px 2px 1px #ffffff;	
	text-align:center;
	text-transform:uppercase;
	font-size:25px;
	line-height:20px;
	padding:15px 0px 0px 12px;
}


.tour_text_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#80888b;
	text-align:left;
	font-size:12px;
	padding:10px 0px 10px 0px;
}


.tour_text_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:left;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 0px 5px 0px;
	line-height:22px;
}


.tour_text_3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#80888b;
	text-align:left;
	font-size:11px;
	padding:0px 0px 20px 0px;
}

.tour_pic{
/*background:url(../images/front/new_york_pic.png) top center no-repeat;*/
width:250px;
height:205px;

}

.tour_base{
background:url(../images/front/base.png) bottom left no-repeat;
width:66px;
height:50px;
}


.tour_text_blue{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:11px;
	padding:5px 0px 5px 0px;
	line-height:14px;
}


.tour_text_blue_1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:center;
	font-size:18px;
	text-decoration:line-through;
}

/*bike tours*/


/*nyctours_nights*/

.nyctours_nights_2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:left;
	font-size:12px;
	text-transform:uppercase;
	padding:5px 0px 5px 0px;
}


.nyctours_nights_3{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#80878d;
	text-align:left;
	font-size:12px;
	text-transform:none;
}


.nyctours_nights_base{
background-color:#bfd9e8;
}


.nyctours_nights_4{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#00438a;
	text-align:left;
	font-size:14px;
	text-transform:uppercase;
	padding:5px 0px 5px 0px;
}

/*nyctours_nights*/

/*experience*/

.banner_whtext_exp{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	text-transform:uppercase;
	font-size:13px;
	padding:14px 0px 14px 10px;
}


.whtext_exp{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#626262;
	text-align:left;
	font-size:13px;
	font-style:italic;
	padding:14px 10px 14px 10px;
}



.input{
background-color:#d5f1ff;
-moz-border-radius: 8px;  
-webkit-border-radius:8px; 
border-radius: 8px;
width:200px;
height:26px;
border:none;
font-family:Arial, Helvetica, sans-serif;
color:#00438a;
font-size:12px;
font-weight:normal;
padding-left:10px;
margin:3px 0px;
}



.textarea{
background-color:#d5f1ff;
-moz-border-radius: 8px;  
-webkit-border-radius:8px; 
border-radius: 8px;
width:200px;
border:none;
font-family:Arial, Helvetica, sans-serif;
color:#00438a;
font-size:12px;
font-weight:normal;
padding-left:10px;
margin:3px 0px 20px 0px;
}

.label{
font-family:Arial, Helvetica, sans-serif;
color:#00438a;
font-size:12px;
font-weight:bold;
text-align:left;
padding:8px 0px;
line-height:18px;
}
.form-send-feedback	{
	background: url(../images/front/send_bttn.png) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
	width: 128px;
	}
/*experience*/


/*find us*/




/*find us*/

/*comfort*/

.divscroll{
	width:200px;
	height:220px;
	overflow:auto;
}

.top_back{
	background-color:#0080e5;
	padding:10px 0px;
}


.top_back_heading{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:left;
	font-size:13px;
	padding:2px 0px 0px 0px;
}

.bottom_back{
	background-color:#ffffff;
	padding:5px 0px;
}

.bottom_back_text{
	background-color:#0080e5;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	text-align:center;
	font-size:10px;
	padding:7px 0px;
}

.viewlarger_div{
	float:right;
	padding:3px 12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#fc0000;
	text-align:center;
	font-size:12px;
	text-decoration:none;
}


.viewlarger_div a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#fc0000;
	text-align:center;
	font-size:12px;
	text-decoration:none;
}

.viewlarger_div a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#000000;
	text-align:center;
	font-size:12px;
	text-decoration:none;
}



/*navigation*/

.topnav { margin:0; padding:2px 0 1px; height:35px;
background:url(../images/front/bluemenu.png) repeat-x ;
height:25px;
}
.topnav ul { list-style:none; padding:0; margin:0; }
.topnav li { float:left; padding:0 20px 10px 0; }
.topnav li a { font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; text-decoration:none; color:#ffffff; 
display:block; float:left; padding:0 0; line-height:28px;}
.topnav li a span { display:block; background:none; padding:0 15px; }
.topnav li a:hover { font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; text-decoration:none; color:#b5dd3e; 
display:block; float:left; padding:0 0; line-height:28px;}
.topnav li a:hover span {color:#fff;}
.topnav li.current_page_item a {color:#fff;}
.topnav li.current_page_item a span {color:#fff; }

.topnavactive{font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; text-decoration:none; color:#b5dd3e; 
display:block; float:left; padding:0 0; line-height:28px;}
/*navigation*/

/*Calendar Stylesheet*/
.tcalInput {
	background: url('../img/cal.gif') 100% 50% no-repeat;
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../img/no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#FFFFFF; 
	border:1px solid #FFFFFF; 
	width:186px; 
	font-family:Arial; 
	font-size:12px; 
	color:#054388; 
	padding:4px; 
	padding-left:10px
	z-index: 100;
	
	position: absolute;
	visibility: hidden;
	
	
	/*background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid silver;

	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');*/
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../img/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../img/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../img/next_mon.gif'); }
#tcalNextYear { background-image: url('../img/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }

.cartbut input{background-color:#0066CC; 
	color:#FFFFFF; 
	font-family:Arial; 
	font-size:12px; 
	text-align:center; 
	font-weight:bold; 
	cursor:pointer; 
	border:0px; 
	padding:4px 10px 4px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}
	
.cartbutcheck a{background-color:#990000; 
	color:#FFFFFF; 
	font-family:Arial; 
	font-size:12px; 
	text-align:center; 
	font-weight:bold; 
	cursor:pointer; 
	border:0px;
	text-decoration:none;
	padding:4px 18px 4px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}
	
/*admin */
